In [1]:
import requests
import pandas as pd

In [2]:
url = 'https://covidtracking.com/api/v1/states/daily.json'

In [3]:
req = requests.get(url)
req.status_code

200

In [4]:
covid = req.json()

In [5]:
covid = pd.DataFrame(covid)

In [6]:
covid.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200511,AK,381.0,28299.0,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,28680,28680,28680,02,0.0,0.0,1314.0,2.0,1316.0
1,20200511,AL,10009.0,119435.0,NaN,NaN,1256.0,NaN,463.0,NaN,...,1256.0,129444,129444,129444,01,8.0,16.0,1791.0,232.0,2023.0
2,20200511,AR,4034.0,64996.0,NaN,61.0,480.0,NaN,NaN,11.0,...,480.0,69030,69030,69030,05,6.0,9.0,3215.0,287.0,3502.0
3,20200511,AS,0.0,105.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,105,105,105,60,0.0,0.0,22.0,0.0,22.0
4,20200511,AZ,11380.0,138861.0,NaN,717.0,1537.0,297.0,NaN,201.0,...,1537.0,150241,150241,150241,04,6.0,9.0,12241.0,261.0,12502.0

In [7]:
covid.shape

(3769, 27)

In [8]:
covid.to_csv('covid-daily.csv', index=False)