In [2]:
import pandas as pd
import numpy as np

In [3]:
tweets = pd.read_csv('../cleandata/tweets_noDuplicates.csv')

In [4]:
tweets.head()

,date,text,state,query_term
0,2020-04-24 21:59:42+00:00,The economy will collapse in the long term if ...,DC,business closures
1,2020-04-23 21:28:12+00:00,Classic counsel on cover letters! Covid-19 and...,DC,business closures
2,2020-04-17 01:01:43+00:00,I'm guessing that would violate the mayor's no...,DC,business closures
3,2020-04-16 18:19:35+00:00,"Ok, why did this take so long...and yet mandat...",DC,business closures
4,2020-04-16 01:53:41+00:00,Explain exactly how government-forced business...,DC,business closures

In [5]:
df1 = pd.read_csv('../data/busi_clo_May-byState.csv')

df2 = pd.read_csv('../data/coronavirus_May-byState.csv')

df3 = pd.read_csv('../data/covid_May-byState.csv')

df4 = pd.read_csv('../data/man_quar_May-byState.csv')

df5 = pd.read_csv('../data/sch_clo_until-May-byState.csv')

df6 = pd.read_csv('../data/shel_in_pl_May-byState.csv')

In [6]:
new_tweets_noDuplicates = pd.concat([tweets, df1, df2, df3, df4, df5, df6], axis=0)

In [7]:
new_tweets_noDuplicates.head()

,date,text,state,query_term
0,2020-04-24 21:59:42+00:00,The economy will collapse in the long term if ...,DC,business closures
1,2020-04-23 21:28:12+00:00,Classic counsel on cover letters! Covid-19 and...,DC,business closures
2,2020-04-17 01:01:43+00:00,I'm guessing that would violate the mayor's no...,DC,business closures
3,2020-04-16 18:19:35+00:00,"Ok, why did this take so long...and yet mandat...",DC,business closures
4,2020-04-16 01:53:41+00:00,Explain exactly how government-forced business...,DC,business closures

In [8]:
new_tweets_noDuplicates.shape

(66319, 4)

In [9]:
new_tweets_noDuplicates[new_tweets_noDuplicates['text'].duplicated() == True]

,date,text,state,query_term
0,2020-05-05 18:16:08+00:00,"Don Jr. tweets: ""It’s long past due for states...",Alabama,business closures
1,2020-05-03 14:14:12+00:00,“I don’t want there to be a big outbreak and a...,Alabama,business closures
2,2020-05-05 21:37:33+00:00,People complaining about stay-at-home orders a...,Arizona,business closures
3,2020-05-04 16:13:47+00:00,But two Arizona sheriff's have announced they ...,Arizona,business closures
7,2020-05-08 01:47:25+00:00,"Sad, B-L (@BarbaraLeeNews8 ). Loved that place...",California,business closures
...,...,...,...,...
330,2020-05-04 03:22:21+00:00,#coronavirus Mandate #VaccinesWork #ShelterInP...,Washington,shelterinplace
331,2020-05-03 19:00:32+00:00,"New Podcast! ""Saturday Kick Back"" on @Spreake...",Washington,shelterinplace
332,2020-05-03 13:58:33+00:00,#Tired of #ShelterInPlace or #SocialDistancing...,Washington,shelterinplace
333,2020-05-01 22:52:22+00:00,For all my friends & relatives in high risk ca...,Washington,shelterinplace
334,2020-05-01 19:54:38+00:00,I have some #GoodOmens30 for you! #WashYourHan...,Washington,shelterinplace

In [10]:
#Read in Self-Quarantine data
df7 = pd.read_csv('../data/selfquarantine_Mar-byState.csv')

df8 = pd.read_csv('../data/selfquarantine_April-byState.csv')

df9 = pd.read_csv('../data/selfquarantine_May-byState.csv')

In [11]:
new_tweets_cln = pd.concat([new_tweets_noDuplicates, df7, df8, df9], axis=0)

In [12]:
new_tweets_cln.head()

,date,text,state,query_term
0,2020-04-24 21:59:42+00:00,The economy will collapse in the long term if ...,DC,business closures
1,2020-04-23 21:28:12+00:00,Classic counsel on cover letters! Covid-19 and...,DC,business closures
2,2020-04-17 01:01:43+00:00,I'm guessing that would violate the mayor's no...,DC,business closures
3,2020-04-16 18:19:35+00:00,"Ok, why did this take so long...and yet mandat...",DC,business closures
4,2020-04-16 01:53:41+00:00,Explain exactly how government-forced business...,DC,business closures

In [13]:
new_tweets_cln.shape

(68652, 4)

In [14]:
new_tweets_cln = new_tweets_cln.drop_duplicates(subset="text")

In [15]:
new_tweets_cln.shape

(59931, 4)

In [18]:
new_tweets_cln.isnull().sum()

date          0
text          1
state         0
query_term    0
dtype: int64

In [19]:
new_tweets_cln = new_tweets_cln.dropna(axis=0)

In [22]:
new_tweets_cln.isnull().sum()

date          0
text          0
state         0
query_term    0
dtype: int64

In [23]:
new_tweets_cln.shape

(59930, 4)

In [21]:
new_tweets_cln.to_csv('../cleandata/new_tweets_noDuplicates.csv')