<h1><center>Tweets from Twitter re. COVID</center></h1>


- df does not include "since_date" & "until_date" 

- https://towardsdatascience.com/how-to-scrape-tweets-from-twitter-59287e20f0f1
- https://github.com/Etanangc8/TwitterBot/blob/master/TwitterScraper/GetOldTweets3_Twitter_Scraper.ipynb
- https://github.com/Mottl/GetOldTweets3
- https://bhaskarvk.github.io/2015/01/how-to-use-twitters-search-rest-api-most-effectively./

In [2]:
# !pip install GetOldTweets3

Collecting GetOldTweets3
  Downloading GetOldTweets3-0.0.11-py3-none-any.whl (13 kB)
Collecting pyquery>=1.2.10
  Downloading pyquery-1.4.1-py2.py3-none-any.whl (22 kB)
Requirement already satisfied: lxml>=3.5.0 in /Users/bibor/opt/anaconda3/lib/python3.7/site-packages (from GetOldTweets3) (4.5.0)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Installing collected packages: cssselect, pyquery, GetOldTweets3
Successfully installed GetOldTweets3-0.0.11 cssselect-1.1.0 pyquery-1.4.1

In [2]:
import GetOldTweets3 as got
import pandas as pd
import time

In [3]:
# function to request tweets from a state

def tweets_by_states(state, text_query, since_date, until_date, count):
     # Creation of query object
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query)\
                    .setSince(since_date).setUntil(until_date).setMaxTweets(count)\
                    .setTopTweets(True).setNear(state)
    
    # Creation of list that contains all tweets
    tweets = got.manager.TweetManager.getTweets(tweetCriteria)
    
    # Creating list of chosen tweet data
    text_tweets = [[tweet.date, tweet.text] for tweet in tweets]    
    
     # Creating dataframe from tweets
    tweet_df = pd.DataFrame(text_tweets, columns = ['date', 'text'])
    
    # return tweet dataframe
    return tweet_df

In [4]:
# Creating list of states

states = [
        'Alabama',
        'Alaska',
        'Arizona',
        'Arkansas',
        'California',
        'Colorado',
        'Connecticut',
        'DC',
        'Delaware',
        'Florida',
        'Georgia',
        'Hawaii',
        'Idaho',
        'Illinois',
        'Indiana',
        'Iowa',
        'Kansas',
        'Kentucky',
        'Louisiana',
        'Maine',
        'Maryland',
        'Massachusetts',
        'Michigan',
        'Minnesota',
        'Mississippi',
        'Missouri',
        'Montana',
        'Nebraska',
        'Nevada',
        'New Hampshire',
        'New Jersey',
        'New Mexico',
        'New York',
        'North Carolina',
        'North Dakota',
        'Ohio',
        'Oklahoma',
        'Oregon',
        'Pennsylvania',
        'Rhode Island',
        'South Carolina',
        'South Dakota',
        'Tennessee',
        'Texas',
        'Utah',
        'Vermont',
        'Virginia',
        'Washington',
        'West Virginia',
        'Wisconsin',
        'Wyoming']

#### Pulling tweets

**"social distancing", "executive orders", "emergency declaration", "election postpone", "restaurant closure"**

Febr. 1, 2020 - Febr. 29, 2020

In [32]:
# Creating empty dataframe
tweet_df = pd.DataFrame(columns = ['date', 'text', 'state', 'query_term'])

# Instantiating counter
counter = 0

# creating for loop to iterate through states
# pull tweets for each state
for state in states:
    counter += 1
    
    # parameters of query
    text_query = 'restaurant closure'
    since_date = '2020-02-01'
    until_date = '2020-02-29'
    count = 2000
    
    # pull tweets from twitter
    tweets = tweets_by_states(state, text_query, since_date, until_date, count)
    # add state name to 'state' column
    tweets['state'] = state
    # add query term to 'query_term' column
    tweets['query_term'] = text_query
    
    # create dataframe from tweets
    tweet_df = tweet_df.append(tweets)
#     print(tweet_df)
    
    # export tweets to csv file
    tweet_df.to_csv('../data/restaurantClosure_February.csv', index=False)
    
    print(state, counter)
    time.sleep(3)

Alabama 1
Alaska 2
Arizona 3
Arkansas 4
California 5
Colorado 6
Connecticut 7
DC 8
Delaware 9
Florida 10
Georgia 11
Hawaii 12
Idaho 13
Illinois 14
Indiana 15
Iowa 16
Kansas 17
Kentucky 18
Louisiana 19
Maine 20
Maryland 21
Massachusetts 22
Michigan 23
Minnesota 24
Mississippi 25
Missouri 26
Montana 27
Nebraska 28
Nevada 29
New Hampshire 30
New Jersey 31
New Mexico 32
New York 33
North Carolina 34
North Dakota 35
Ohio 36
Oklahoma 37
Oregon 38
Pennsylvania 39
Rhode Island 40
South Carolina 41
South Dakota 42
Tennessee 43
Texas 44
Utah 45
Vermont 46
Virginia 47
Washington 48
West Virginia 49
Wisconsin 50
Wyoming 51

In [33]:
# read in data

df = pd.read_csv('../data/restaurantClosure_February.csv')

In [34]:
df.shape

(0, 4)

**"social distancing", "executive orders", "emergency declaration", "election postpone", "restaurant closure"**

March. 1, 2020 - March. 31, 2020

In [35]:
# Creating empty dataframe
tweet_df = pd.DataFrame(columns = ['date', 'text', 'state', 'query_term'])

# Instantiating counter
counter = 0

# creating for loop to iterate through states
# pull tweets for each state
for state in states:
    counter += 1
    
    # parameters of query
    text_query = 'restaurant closure'
    since_date = '2020-03-01'
    until_date = '2020-03-31'
    count = 0
    
    # pull tweets from twitter
    tweets = tweets_by_states(state, text_query, since_date, until_date, count)
    # add state name to 'state' column
    tweets['state'] = state
    # add query term to 'query_term' column
    tweets['query_term'] = text_query
    
    # create dataframe from tweets
    tweet_df = tweet_df.append(tweets)
#     print(tweet_df)
    
    # export tweets to csv file
    tweet_df.to_csv('../data/restaurantClosure_March.csv', index=False)
    
    print(state, counter)
    time.sleep(3)

Alabama 1
Alaska 2
Arizona 3
Arkansas 4
California 5
Colorado 6
Connecticut 7
DC 8
Delaware 9
Florida 10
Georgia 11
Hawaii 12
Idaho 13
Illinois 14
Indiana 15
Iowa 16
Kansas 17
Kentucky 18
Louisiana 19
Maine 20
Maryland 21
Massachusetts 22
Michigan 23
Minnesota 24
Mississippi 25
Missouri 26
Montana 27
Nebraska 28
Nevada 29
New Hampshire 30
New Jersey 31
New Mexico 32
New York 33
North Carolina 34
North Dakota 35
Ohio 36
Oklahoma 37
Oregon 38
Pennsylvania 39
Rhode Island 40
South Carolina 41
South Dakota 42
Tennessee 43
Texas 44
Utah 45
Vermont 46
Virginia 47
Washington 48
West Virginia 49
Wisconsin 50
Wyoming 51

In [36]:
# read in data

df = pd.read_csv('../data/restaurantClosure_March.csv')

In [37]:
df.shape

(71, 4)

**"social distancing", "executive orders", "emergency declaration", "election postpone", "restaurant closure"**

April. 1, 2020 - April. 30, 2020

In [38]:
# Creating empty dataframe
tweet_df = pd.DataFrame(columns = ['date', 'text', 'state', 'query_term'])

# Instantiating counter
counter = 0

# creating for loop to iterate through states
# pull tweets for each state
for state in states:
    counter += 1
    
    # parameters of query
    text_query = 'restaurant closure'
    since_date = '2020-04-01'
    until_date = '2020-04-30'
    count = 0 # get everything
    
    # pull tweets from twitter
    tweets = tweets_by_states(state, text_query, since_date, until_date, count)
    # add state name to 'state' column
    tweets['state'] = state
    # add query term to 'query_term' column
    tweets['query_term'] = text_query
    
    # create dataframe from tweets
    tweet_df = tweet_df.append(tweets)
#     print(tweet_df)
    
    # export tweets to csv file
    tweet_df.to_csv('../data/restaurantClosure_April.csv', index=False)
    
    print(state, counter)
    time.sleep(3)

Alabama 1
Alaska 2
Arizona 3
Arkansas 4
California 5
Colorado 6
Connecticut 7
DC 8
Delaware 9
Florida 10
Georgia 11
Hawaii 12
Idaho 13
Illinois 14
Indiana 15
Iowa 16
Kansas 17
Kentucky 18
Louisiana 19
Maine 20
Maryland 21
Massachusetts 22
Michigan 23
Minnesota 24
Mississippi 25
Missouri 26
Montana 27
Nebraska 28
Nevada 29
New Hampshire 30
New Jersey 31
New Mexico 32
New York 33
North Carolina 34
North Dakota 35
Ohio 36
Oklahoma 37
Oregon 38
Pennsylvania 39
Rhode Island 40
South Carolina 41
South Dakota 42
Tennessee 43
Texas 44
Utah 45
Vermont 46
Virginia 47
Washington 48
West Virginia 49
Wisconsin 50
Wyoming 51

In [39]:
# read in data

df = pd.read_csv('../data/restaurantClosure_April.csv')

In [40]:
df.shape

(9, 4)

**"social distancing", "executive orders", "emergency declaration", "election postpone", "restaurant closure"**

May. 1, 2020 - May. 6, 2020

In [41]:
# Creating empty dataframe
tweet_df = pd.DataFrame(columns = ['date', 'text', 'state', 'query_term'])

# Instantiating counter
counter = 0

# creating for loop to iterate through states
# pull tweets for each state
for state in states:
    counter += 1
    
    # parameters of query
    text_query = 'restaurant closure'
    since_date = '2020-05-01'
    until_date = '2020-05-06'
    count = 0 # get everything
    
    # pull tweets from twitter
    tweets = tweets_by_states(state, text_query, since_date, until_date, count)
    # add state name to 'state' column
    tweets['state'] = state
    # add query term to 'query_term' column
    tweets['query_term'] = text_query
    
    # create dataframe from tweets
    tweet_df = tweet_df.append(tweets)
#     print(tweet_df)
    
    # export tweets to csv file
    tweet_df.to_csv('../data/restaurantClosure_May.csv', index=False)
    
    print(state, counter)
    time.sleep(3)

Alabama 1
Alaska 2
Arizona 3
Arkansas 4
California 5
Colorado 6
Connecticut 7
DC 8
Delaware 9
Florida 10
Georgia 11
Hawaii 12
Idaho 13
Illinois 14
Indiana 15
Iowa 16
Kansas 17
Kentucky 18
Louisiana 19
Maine 20
Maryland 21
Massachusetts 22
Michigan 23
Minnesota 24
Mississippi 25
Missouri 26
Montana 27
Nebraska 28
Nevada 29
New Hampshire 30
New Jersey 31
New Mexico 32
New York 33
North Carolina 34
North Dakota 35
Ohio 36
Oklahoma 37
Oregon 38
Pennsylvania 39
Rhode Island 40
South Carolina 41
South Dakota 42
Tennessee 43
Texas 44
Utah 45
Vermont 46
Virginia 47
Washington 48
West Virginia 49
Wisconsin 50
Wyoming 51

In [42]:
# read in data

df = pd.read_csv('../data/restaurantClosure_May.csv')

In [43]:
df.shape

(96, 4)

**"social distancing", "executive orders", "emergency declaration", "election postpone", "restaurant closure"**

May. 7, 2020 - May. 10, 2020

In [6]:
# list of text queries

text_queries = ['social distancing', 'executive orders', 'emergency declaration', 
                'election postpone', 'restaurant closure']

In [7]:
# Creating empty dataframe
tweet_df = pd.DataFrame(columns = ['date', 'text', 'state', 'query_term'])

# Creating empty list of tweets from states
tweets_state = []

# Instantiating counter
counter = 0

# creating for loop to iterate through states
# pull tweets for each state
for state in states:
    counter += 1
    for text_query in text_queries:
        # parameters of query
        since_date = '2020-05-06'
        until_date = '2020-05-10'
        count = 0 # get everything
    
        # pull tweets from twitter
        tweets = tweets_by_states(state, text_query, since_date, until_date, count)
        # add state name to 'state' column
        tweets['state'] = state
        # add query term to 'query_term' column
        tweets['query_term'] = text_query
        
        # add tweets to tweets_state list
        tweets_state.append(tweets)

    # add tweets from each state to tweet dataframe
    tweet_df = tweet_df.append(tweets_state)
    #   print(tweet_df)
    
    # export tweets to csv file
    tweet_df.to_csv('../data/May6_10.csv', index=False)
    
    print(state, counter)
    time.sleep(3)

Alabama 1
Alaska 2
Arizona 3
Arkansas 4
California 5
Colorado 6
Connecticut 7
DC 8
Delaware 9
Florida 10
Georgia 11
Hawaii 12
Idaho 13
Illinois 14
Indiana 15
Iowa 16
Kansas 17
Kentucky 18
Louisiana 19
Maine 20
Maryland 21
Massachusetts 22
Michigan 23
Minnesota 24
Mississippi 25
Missouri 26
Montana 27
Nebraska 28
Nevada 29
New Hampshire 30
New Jersey 31
New Mexico 32
New York 33
North Carolina 34
North Dakota 35
Ohio 36
Oklahoma 37
Oregon 38
Pennsylvania 39
Rhode Island 40
South Carolina 41
South Dakota 42
Tennessee 43
Texas 44
Utah 45
Vermont 46
Virginia 47
Washington 48
West Virginia 49
Wisconsin 50
Wyoming 51

In [8]:
# read in data

df = pd.read_csv('../data/May6_10.csv')

In [9]:
df.shape

(171154, 4)

In [19]:
# combine tweets
# read in data
data = pd.concat([
    pd.read_csv('../data/busi_clo_April-byState.csv'),
    pd.read_csv('../data/busi_clo_March-byState.csv'),
    pd.read_csv('../data/busi_clo_until-May_06-byState.csv'),
    pd.read_csv('../data/coronavirus_April-byState.csv'),
    pd.read_csv('../data/coronavirus_Feb_byState.csv'),
    pd.read_csv('../data/coronavirus_March-byState.csv'),
    pd.read_csv('../data/coronavirus_until-May_06-byState.csv'),
    pd.read_csv('../data/covid_April-byState.csv'),
    pd.read_csv('../data/covid_Feb-byState.csv'),
    pd.read_csv('../data/covid_March-byState.csv'),
    pd.read_csv('../data/covid_until-May-06-byState.csv'),
    pd.read_csv('../data/electionPostpone_April.csv'),
    pd.read_csv('../data/electionPostpone_February.csv'),
    pd.read_csv('../data/electionPostpone_March.csv'),
    pd.read_csv('../data/electionPostpone_May.csv'),
    pd.read_csv('../data/emergencyDeclaration_April.csv'),
    pd.read_csv('../data/emergencyDeclaration_February.csv'),
    pd.read_csv('../data/emergencyDeclaration_March.csv'),
    pd.read_csv('../data/emergencyDeclaration_May.csv'),
    pd.read_csv('../data/executiveOrders_April.csv'),
    pd.read_csv('../data/executiveOrders_February.csv'),
    pd.read_csv('../data/executiveOrders_March.csv'),
    pd.read_csv('../data/executiveOrders_May.csv'),
    pd.read_csv('../data/man_quar_April-byState.csv'),
    pd.read_csv('../data/man_quar_until-May_06-byState.csv'),
    pd.read_csv('../data/man-quar_March-byState.csv'),
    pd.read_csv('../data/May6_10.csv'),
    pd.read_csv('../data/restaurantClosure_April.csv'),
    pd.read_csv('../data/restaurantClosure_February.csv'),
    pd.read_csv('../data/restaurantClosure_March.csv'),
    pd.read_csv('../data/restaurantClosure_May.csv'),
    pd.read_csv('../data/sch_clo_April-byState.csv'),
    pd.read_csv('../data/sch_clo_March-byState.csv'),
    pd.read_csv('../data/sch_clo_until-May_06-byState.csv'),
    pd.read_csv('../data/shel_in_pl_April-byState.csv'),
    pd.read_csv('../data/shel_in_pl_March-byState.csv'),
    pd.read_csv('../data/shel_in_pl_until-May_06-byState.csv'),
    pd.read_csv('../data/socialDistancing_April.csv'),
    pd.read_csv('../data/socialDistancing_February.csv'),
    pd.read_csv('../data/socialDistancing_March.csv'),
    pd.read_csv('../data/socialDistancing_May.csv')
])

In [20]:
data.head()

,date,text,state,query_term
0,2020-04-24 21:59:42+00:00,The economy will collapse in the long term if ...,DC,business closures
1,2020-04-23 21:28:12+00:00,Classic counsel on cover letters! Covid-19 and...,DC,business closures
2,2020-04-17 01:01:43+00:00,I'm guessing that would violate the mayor's no...,DC,business closures
3,2020-04-16 18:19:35+00:00,"Ok, why did this take so long...and yet mandat...",DC,business closures
4,2020-04-16 01:53:41+00:00,Explain exactly how government-forced business...,DC,business closures

In [21]:
data.shape

(216443, 4)

In [23]:
# export combined dataset

data.to_csv('../cleandata/tweets.csv', index=False)

In [24]:
data = pd.read_csv('../cleandata/tweets.csv')

In [25]:
data.shape

(216443, 4)